*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/database/*.sqlite
/.sixth
/temp_check.js
*.bak
*.backup
*.backup.*
*.pos_ui_backup_*
Homestead.json
Homestead.yaml
Thumbs.db
